*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: grid;
	height: 100vh;
	text-align: center;
	color: white;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 2fr 10fr 1fr;
	grid-template-areas:
	"nav"
	"aside"
	"main"
	"footer";
}

nav {
	grid-area: nav;
	background: #01579b;
}

nav ul {
	list-style-type: none;
}

/* PRODUCTOS */
main {
	grid-area: main;
}

aside{
	grid-area: aside;
	background-color: #e1e2e1;
	color: black;
}
.autos {
	height: 65vh;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	overflow-y: scroll;
}
.card {
	box-shadow: 1px 1px 5px 1px #e1e2d1;
}

.card button {
	background-color: #01579b !important;
}

/* PIE DE PAGINA */
footer{
	grid-area: footer;
	background-color: #002f6c;
}

/* TABLET */
@media (min-width: 576px) {
	body {
		grid-template-columns: 30% 70%;
		grid-template-rows: 1fr 5fr 1fr;
		grid-template-areas:
		"nav nav"
		"aside main"
		"footer footer";
	}
	.autos {
		height: 70vh;
		grid-template-columns: repeat(2, 1fr);
	}
}
/* DESKTOP */
@media (min-width: 992px){
	body {
		grid-template-columns: 15% 85%;
		grid-template-rows: 1fr 5fr 1fr;
		grid-template-areas:
		"nav aside"
		"nav main"
		"footer main";
	}
	.autos {
		height: 75vh;
		grid-template-columns: repeat(4, 1fr);
	}
	nav ul li{
		margin-top: 10px;
	}
}
